/* You can add global styles to this file, and also import other style files */
:root {
  --color-institucional: #fecb00;
  --color-secundario: #000000;
  --color-terciario: #f8f9fa;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

